{% load url from future %}
<!doctype html>
<html>
  <head>
    <title>Funday Anyday</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <link rel="home" href="/">
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]>
      <link href="{{ STATIC_URL }}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script type="text/javascript" src="//use.typekit.net/idv4vus.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}">
      <h1><span>Funday<br>Anyday <em>Roulette</em></span></h1>
      </a>
      <p>Because everyday should be a <strong>Funday Monday</strong>.</p>
    </header>
    {% block content %}
    {% endblock content %}
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50551906f5a1f5382d000045');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>

