<!doctype html>
<html>
  <head>
    <title>Funday Anyday</title>
    <link charset="utf-8" href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]>
      <link href="{{ STATIC_URL }}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script type="text/javascript" src="//use.typekit.net/idv4vus.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <header>
      <h1><span>Funday<br>Anyday <em>Roulette</em></span></h1>
      <p>Because everyday should be a <strong>Funday Monday</strong>.</p>
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>

