{% extends 'base.html' %}

{% block content %}
<div class="choice info">
  <h2>Your random Funday is:</h2>
  <h3>{{ object.name }}</h3>
  <p>{{ object.description }}</p>
  <p><a href="{{ object.video }}">Video</a></p>
</div>
<hr>
<footer class="site-description">
  <p>
    This site provides a random Funday Monday for you to do!
    Perhaps you are playing matches with your friends and want to spruce things up a bit.
    Perhaps the Funday Monday currently going on doesn't really apply to your race.
    In anycase, this was made for people to have fun with.
    Funday Monday is a <a href="http://day9.tv">Day[9]</a> invention and all credit goes to him.
    The source is on <a href="https://github.com/wraithan/funday">GitHub</a>.
    Report issues and feature requests in the <a href="https://github.com/wraithan/funday/issues">issue tracker</a>.
  </p>
</footer>
{% endblock content %}
